<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CultureHome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18A3DDBC1F8253E400D270F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18A3DDD51F8253E400D270F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18A3DDE01F8253E400D270F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
